.container--form {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 30px; */
}

.form__label {
  width: 200px;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto 30px;
  align-items: center;
}
.form__label--checkbox {
  display: flex;
  align-items: center;
  margin: 0 auto 30px;
}

.form__input {
  padding: 3px 20px 3px 20px;
  border-radius: 7px;
  border: 1px solid #796581fc;
}

.form__btn {
  border: none;
  width: 100px;
  height: 35px;
  background-color: #95785a;
  border-radius: 14px;
  color: white;
  margin: 20px auto 0;
}

.form__btn:hover {
  background-color: #bb660f;
  border: 1px solid #a94f10;
}
.form__btn:active {
  background-color: #fd8102;
}

.loader {
  margin: auto;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #ffffff00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
