.contacts__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 15px;
  min-width: 465px;
  max-width: 500px;
}
.contacts__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.contacts__name {
  font-size: 25px;
}

.contacts__number {
  font-size: 18px;
  font-style: italic;
}

.contacts__btn {
  border: none;
  width: 75px;
  height: 29px;
  background-color: #59bdd8;
  border-radius: 14px;
  color: white;
  padding: 0 15px;
}

.contacts__btn:hover {
  background-color: rgb(96 192 210);
  border: 1px solid #148faf;
}

.contacts__btn:active {
  background-color: #597bd1db;
}

.loader {
  margin: auto;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #ffffff00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
