.contacts__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 15px;
  min-width: 465px;
  max-width: 500px;
}

.contacts__name {
  font-size: 25px;
}

.contacts__number {
  font-size: 18px;
  font-style: italic;
}

.contacts__btn {
  border: none;
  /* border: 1px solid white; */
  width: 80px;
  height: 35px;
  background-color: #a122008c;
  border-radius: 14px;
  color: white;
  padding: 0 15px;
}

.contacts__btn:hover {
  background-color: #a12200b0;
  border: 1px solid #a94f10;
}

.contacts__btn:active {
  background-color: #ff987c;
}

.loader {
  margin: auto;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #ffffff00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
